# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

migrations
/migrations

# Flask specific
instance/
.webassets-cache

# Logs and databases
*.log
*.sqlite
*.db

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Build and distribution directories
build/
dist/
*.egg-info/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Environment variables
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Windows
Thumbs.db
typira-ee2d4-firebase-adminsdk-fbsvc-43257b6e08.json



